{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
    <script src="{% static 'js/script.js' %}"></script> -->
    <title>Sample Project</title>
</head>
<body>
    
    <!-- <img src="{%static 'images/2.jpg'%}" alt="curd rice">
    <h1>Good Morning</h1> -->
</body>
<!-- <script>
    var d=document.getElementsByTagName(h1);
    var c=confirm("change color of h1");
    if(c==true){
        d.textContent="changed the text";
    }
</script> -->
    <h1>Form values:</h1>
    <p>{{fname}}</p>
    <p>{{lname}}</p>
    <p>{{email}}</p>
    <p>{{password}}</p>
</html>