
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" action="#">
    <div class="container">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}">{{msg}}</div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="card bg-warning">
                    <div class="card-head">
                        <h2 class="text-primary">SignUp Form</h2>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- {{ form.as_p }} -->
                    </div>
                    <div class="card-footer">
                        <button type='submit' class="btn  btn-primary">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
